#menu {
	margin-bottom: 80px;
}

nav ul a {
	display: block;
	color: #fff;
	font-family: Verdana;
	font-size: 14px;
	text-decoration: none;
}

nav ul,nav ul li,nav ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #555;
	color: #fff;
}

nav ul {
	width: 100%;
	position: relative;
	float: left;
}

nav ul li {
	float: left;
	line-height: 1.3em;
	vertical-align: middle;
	zoom: 1;
	padding: 5px 10px;
}

nav ul li.logout{
	float: right;
	background: #FC7101;
}

nav ul li.hover,nav ul li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
	background: #1e7c9a;
}

nav ul ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	width: 195px;
	background: #555;
	border: 1px solid #fff;
}

nav ul ul li {
	float: none;
}

nav ul ul ul {
	top: -2px;
	left: 100%;
}

nav ul li:hover>ul {
	visibility: visible
}