/*
* Place css styles below.
*/
body {
	background: url("../img/background.jpg") no-repeat;
	background-size: cover
}

#wrapper {
	margin: auto;
	width: 960px;
	background: #fff;
	padding: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}

#content {
	clear: both;
}

.clear {
	clear: both;
}

.info,.success,.warning,.error,.validation {
	margin: 10px 0px;
	max-width: 400px;
	border: 1px solid;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/info.png');
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../img/success.png');
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/warning.png');
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/error.png');
}

p,li,label {
	color: #555555;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color: #EF1F2F;
	text-decoration: none;
}

form input,form select {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	width: 200px;
	margin: 2px;
}

form label {
	display: block;
}

form div {
	margin-bottom: 4px;
}

table {
	width: 100%;
	text-align: left;
	border: 1px solid #DDDDDD;
	font-size: 12px;
	color: #000;
	background: #fff;
	margin-bottom: 10px;
}

table th {
	background-color: #E5E5E5;
	border: 1px solid #BBBBBB;
	padding: 3px 6px;
	font-weight: normal;
	color: #000;
}

table tr td {
	border: 1px solid #DDDDDD;
	padding: 5px 6px;
}

table tr.alt td {
	background-color: #E2E2E2;
}

table tr:hover {
	background-color: #F0F0F0;
	color: #000;
}